
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background: #9ca3af;   
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background: #0b0f12;
  width: 280px;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}
.display {
  height: 60px;
  color: #bfc6cc;
  font-size: 32px;
  text-align: right;
  padding: 10px;
  margin-bottom: 20px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

button {
  height: 55px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}
.num {
  background: #2a2a2a;
  color: white;
}

.operator {
  background: #f59e0b;
  color: white;
}

.equal {
  grid-row: span 2;
  height: 122px;
  background: #f59e0b;
  color: white;
  font-size: 22px;
}

.zero {
  grid-column: span 2;
}

.footer {
  margin-top: 15px;
  text-align: center;
  color: white;
  font-size: 13px;
}

.footer span {
  font-weight: bold;
}
